@import './__answer/accordion__answer.css';
@import './__content/accordion__content.css';
@import './__date/accordion__date.css';
@import './__header/accordion__header.css';
@import './__item/accordion__item.css';
@import './__question/accordion__question.css';
@import './__wrapper/accordion__wrapper.css';
@import './__content-list/accordion__content-list.css';
@import './__content/_active.css/accordion__content_active.css';
@import './__dropdown-icon/accordion__dropdown-icon.css';
@import './__dropdown-icon/_rotated/accordion__dropdown-icon-rotated.css';


.accordion {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}