/* @import url('./vendor/normalize.css');
@import url('./global.css');
@import url('./vendor/fonts/geometria/index.css');
@import url('./page/header/header.css');
@import url('./page/container/container.css');
@import url('./media/media.css');
@import url('./page/popup/popup.css'); */
@import './vendor/normalize.css';
@import './vendor/global.css';
@import './vendor/fonts/geometria/index.css';
@import './blocks/popup/popup.css';
@import './blocks/header/header.css';
@import './blocks/container/container.css';
@import './media/media.css';
@import './blocks/accordion/accordion.css';

.root{
    font-family: 'Geometria', Fallback, sans-serif;
    font-weight: normal;
    font-style: normal;
}

/* .page{position: relative;} */

.section-title{
    color: #28337C;
    font-size: clamp(2.25rem, 2.125rem + 0.625vw, 2.875rem);
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-block-end: 8px;
}

.section-info{
    color: #09041A;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.2px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-block-end: 73px;
}

.section-info::after{
    content: '';
    display: block;
    block-size: 4px;
    inline-size: 200px;
    background-color: #28337C;
    margin-inline-start: 4px;
}



.border{
    border-radius: 4px;
    margin-block-end:0

  }


.form{
    background-color: #FFF;
    max-inline-size: 1200px;
    border-radius: 4px;
    padding-inline: 40px;
    padding-block: 65px;
    margin-inline: auto;
    position: relative;
    overflow-y:scroll;
}

.form__list:nth-child(4){
    margin-block-end: 50px;
}

.form__header{
    color: #28337C;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-block-end: 51px;
}

.form__list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 31px;
    margin-block-end: 16px;

}

.form__list_long{
    grid-template-columns: repeat(auto-fit, minmax(clamp(15.625rem, 13.125rem + 12.5vw, 28.125rem),1fr));
}

.form__list>li{
    display: flex;
    flex-direction: column;
}

.form__label{
    color: #2C3455;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    margin-block-end: 8px;
}

.form__input{
    border-radius: 4px;
    border: 1px solid #9FABC5;
    padding: 10px 10px 10px 24px;
}

.form__input::placeholder{
    color: #5B5D64;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 145;
    opacity: .5;
}




.form-margin{
    margin-block-end: 24px;
}



.accordion__dropdown-icon{
    margin-inline-start: auto;
    margin-inline-end: 32px;
}

.accordion__dropdown-icon-rotated{
    transform: rotate(180deg);
}



.grey{
    color: #5B5D64;
}

.grey-text{
    font-size: 16px;
    font-weight: 400;
    color: #5B5D64;

}
